/* Brands */
.body > .brands {
  background-color: #f8f8f8;
}
.brands {
  &__header {
    padding: 16px 32px;
    background: linear-gradient(to right, #f8f8f8 0%, #ffffff 100%);
    height: 56px;
    @media (min-width: $screen-xs) {
      padding: 6px 16px;
      height: 84px;
    }
    @media (min-width: $screen-sm) {
      padding: 4px 24px 1px;
    }
    @media (min-width: $screen-md) {
      height: 48px;
    }
    @media (min-width: $screen-xl) {
      padding: 22px 32px 1px;
    }
  }
  &__item {
    border: 1px solid #eaeaea;
    border-radius: 6px;
    background-color: #fff;
    padding: 16px;
    &--hide {
      display: none;
    }
    @media (min-width: $screen-sm) {
      max-width: 210px;
      height: 40px;
      padding: 16px 16px 25px;
    }
    @media (min-width: $screen-bm) {
      max-width: 190px;
    }
    @media (min-width: $screen-md) {
      padding: 16px 16px 24px;
      width: 224px;
    }
    @media (min-width: $screen-xl) {
      max-width: 206px;
      padding: 16px 16px 26px;
    }
  }
  &__slider {
    &::before {
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      width: 60px;
      right: 0;
      background-image: linear-gradient(
        to left,
        #f8f8f8 0%,
        rgba(0, 0, 0, 0) 100%
      );
      z-index: 100;
      @media (min-width: $screen-md) {
        display: none;
      }
    }
    @media (min-width: $screen-xs) {
      position: relative;
      margin: 0 16px 0px;
    }
    @media (min-width: $screen-bm) {
      margin: 24px 24px 0;
    }
    @media (min-width: $screen-xl) {
      margin: 24px 31px 0;
    }
  }

  &__list {
    display: flex;
    max-width: 1200px;
    row-gap: 16px;
    column-gap: 32px;
    @media (min-width: $screen-xs) {
      flex-wrap: nowrap;
      width: 100vw !important;
      column-gap: 0;
      row-gap: 0;
    }
    @media (min-width: $screen-sm) {
      row-gap: 14px;
    }
    @media (min-width: $screen-md) {
      flex-wrap: wrap;
      column-gap: 24px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: space-between;
    line-height: initial;
  }

  &__logo {
    display: block;
    @media (min-width: $screen-xs) {
      margin-right: 59px;
    }
    @media (min-width: $screen-sm) {
      margin-right: 39px;
      max-width: 108px;
    }
  }
  &__link::after {
    content: url('../img/main/item-more-ico.svg');
    display: block;
    border-radius: 60px;
    border: red 3px solid;
    padding: 8px 13px 8px 15px;
  }

  &__show-more {
    margin-top: 32px;
    @media (min-width: $screen-sm) {
      margin-top: 6px;
      padding: 16px 22px;
    }
  }
}

.show-more-btn::before {
  content: url(../img/main/read-more-ico.svg);
  transform: translateX(-16px);
  display: inline-block;
}

.show-more-btn--active::before {
  transform: translateX(-16px) rotate(180deg);
}

/* Swiper */

// .swiper {
//   position: relative;
// }

// .swiper-wrapper {
//   flex-wrap: nowrap;
//   width: 100vw !important;
//   column-gap: 0;
//   row-gap: 0;
// }

// .swiper::before {
//   content: '';
//   display: block;
//   height: 100%;
//   position: absolute;
//   width: 60px;
//   right: 0;
//   background-image: linear-gradient(to left, #f8f8f8 0%, rgba(0, 0, 0, 0) 100%);
//   z-index: 100;
// }

// .brands__item--swiper {
//   width: 100vw;
//   height: 39px;
// }
// .swiper-slide:first-child {
//   margin-left: 16px;
// }

.brandsSwiper-pagination {
  bottom: var(--swiper-pagination-bottom, 34px) !important;
  margin-top: 14px;
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 6px) !important;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 60px;
  background: #dddddd;
}

.swiper-pagination-bullet-active {
  background: #b5b6bc;
}
