/* Main */

.main {
  &__container {
    padding: 24px 0;
    position: relative;
    background-color: #f8f8f8;
    max-width: 1120px;
    @media (min-width: $screen-xs) {
      max-width: 100vw;
    }
  }
  &__brands {
    &::before {
      content: '';
      display: block;
      height: 1px;
      width: 100vw;
      background-color: #d9fff5;
    }
    @media (min-width: $screen-bm) {
      margin-top: 12px;
    }
  }
  &__services {
    @media (min-width: $screen-xs) {
      margin-top: 40px;
    }
    @media (min-width: $screen-sm) {
      margin-top: 32px;
    }
    @media (min-width: $screen-bm) {
      margin-top: 14px;
    }
    @media (min-width: $screen-xl) {
      margin: 30px;
    }
    &::before {
      content: '';
      display: block;
      height: 1px;
      width: 100vw;
      background-color: #d9fff5;
    }
  }
  &__prices {
    @media (min-width: $screen-xs) {
      margin-top: 38px;
    }
    @media (min-width: $screen-bm) {
      margin-top: 32px;
    }
  }

  &__headline {
    line-height: 40px;
    letter-spacing: -0.6px;
    font-size: 1.75rem;
    line-height: 40px;
    letter-spacing: -0.6px;
    @media (min-width: $screen-xs) {
      margin: 0;
      padding: 0 0 0 16px;
    }
    @media (min-width: $screen-md) {
      padding: 0 24px;
    }
    @media (min-width: $screen-xl) {
      padding: 0 34px;
      margin: 18px 0 8px;
    }
  }
  &__slide-menu {
    margin: 24px 0;
    @media (min-width: $screen-xs) {
      padding: 0 0 0 16px;
    }
    @media (min-width: $screen-md) {
      padding: 0px 24px;
      margin: 32px 0;
    }
    @media (min-width: $screen-lg) {
      padding: 0px 34px;
      margin: 0;
      flex-wrap: wrap;
    }
    @media (min-width: $screen-xl) {
      row-gap: 4px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    position: relative;
    @media (min-width: $screen-md) {
      display: flex;
      flex-direction: row;
      position: relative;
    }
  }
  &__paragraphs-wrapper {
    @media (min-width: $screen-md) {
      max-height: 160px;
      overflow: hidden;
    }
    @media (min-width: $screen-lg) {
      margin-top: 12px;
    }
  }
  &__paragraph {
    padding: 0 16px;
    @media (min-width: $screen-xs) {
      margin: 0;
    }
    @media (min-width: $screen-sm) {
      font-size: 0.875rem;
      line-height: 20px;
      letter-spacing: 0.2px;
    }
    @media (min-width: $screen-md) {
      padding: 0 40px 0 24px;
    }
    @media (min-width: $screen-lg) {
      padding: 0 33px 0 25px;
    }
    @media (min-width: $screen-xl) {
      padding: 0 33px 0 32px;
    }
  }

  &__paragraph-second {
    display: none;
    @media (min-width: $screen-md) {
      display: block;
    }
  }
  &__show-more-btn {
    @media (min-width: $screen-xs) {
      margin-left: 8px;
    }
    @media (min-width: $screen-md) {
      margin-top: -6px;
    }
    @media (min-width: $screen-sm) {
      margin-left: 8px;
    }
  }
}

.slide-menu {
  display: flex;
  overflow-x: visible;
  @media (min-width: $screen-xs) {
    overflow-x: scroll;
    scrollbar-color: transparent transparent;
  }
  @media (min-width: $screen-xl) {
    overflow-x: auto;
  }
}

.slide-menu__link {
  white-space: nowrap;
  padding: 8px 16px;
  display: block;

  @media (min-width: $screen-lg) {
    padding: 9px 21px 7px;
  }
}

.slide-menu__link--active {
  border: 2px solid #b8ffec;
  border-radius: 6px;
  background: rgb(255, 255, 255);
  line-height: 20px;
}

.paragraph {
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.2px;
  @media (min-width: $screen-md) {
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
  }
  @media (min-width: $screen-lg) {
    font-weight: 400;
    line-height: 1.42rem;
  }
}

.paragraph + .paragraph::before {
  content: '\A';
  white-space: pre;
}

.image {
  width: 100vw;
  left: 0;
  bottom: 0;
  @media (min-width: $screen-xs) {
    aspect-ratio: 320 / 176;
  }
  @media (min-width: $screen-sm) {
    aspect-ratio: 365 / 208;
  }
  @media (min-width: $screen-md) {
    width: auto;
    border-radius: 6px;
    aspect-ratio: 360 / 208;
  }
  @media (min-width: $screen-lg) {
    aspect-ratio: 531 / 307;
    width: 531px;
  }
}
.content {
  &__col {
    flex-basis: 50%;
    &--paragraph {
      @media (min-width: $screen-sm) {
        min-width: 50%;
      }
    }
  }
  &__col-image {
    padding: 0 24px 16px 0;
    @media (min-width: $screen-sm) {
    }
    @media (min-width: $screen-lg) {
      transform: translateX(-10px);
    }
    @media (min-width: $screen-xl) {
      padding: 5px 24px 16px 0;
      transform: translateX(2px);
    }
  }
}
