.page {
  font-family: 'TT Lakes', sans-serif;
  &--center {
    display: flex;
    justify-content: center;
    background-color: #f8f8f8;
    height: 100%;
    @media (min-width: $screen-xl) {
      overflow-x: hidden;
    }
  }
  &--modal-on {
    overflow: hidden;
  }
  &__content {
    &--burger-show {
      @media (min-width: $screen-sm) {
        max-width: 100vw;
        &::after {
          content: '';
          width: 100vw;
          height: 100vh;
          background-color: #fffffff2;
          display: block;
          position: absolute;
          top: 0;
        }
      }
    }
    @media (min-width: $screen-xs) {
      max-width: 320px;
    }
    @media (min-width: $screen-sm) {
      max-width: 100vw;
    }
    @media (min-width: $screen-xl) {
      max-width: 1120px;
    }
  }
  &__modal {
    position: fixed;

    width: 100vw;
    height: 100vh;
    z-index: 1000;
  }
  &__footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 19px;
    padding: 0 16px;
    @media (min-width: $screen-md) {
      flex-direction: row;
      margin-top: 55px;
      padding: 0 24px;
    }
    @media (min-width: $screen-xl) {
      justify-content: space-between;
      padding: 7px 30px;
      margin-top: 49px;
    }
  }
}
