.prices {
  &__header {
    padding: 0 16px;
    background: linear-gradient(to right, #f8f8f8 0%, #ffffff 100%);
    @media (min-width: $screen-md) {
      flex-wrap: wrap;
      padding: 0 24px;
    }
    @media (min-width: $screen-xl) {
      padding: 4px 31px;
    }
  }
  &__slider {
    &::before {
      @media (min-width: $screen-md) {
        display: none;
      }
    }
    @media (min-width: $screen-md) {
      margin-top: 0px;
    }
    @media (min-width: $screen-xl) {
      margin-bottom: 5px;
    }
  }
  &__list {
    display: flex;
    padding: 0 8px;
    @media (min-width: $screen-md) {
      flex-wrap: wrap;
      padding: 0 24px;
      max-width: calc(100vw - 48px);
    }
    @media (min-width: $screen-xl) {
      max-width: 1095px;
      padding: 0 35px;
    }
  }
  &__item {
    @media (min-width: $screen-xs) {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: [name] 2fr [cost] 0.25fr [scheduleAndOrder] 1.25fr;
      align-items: center;
      padding: 16px;
      border-radius: 6px;
      background-color: #fff;
      max-width: 225px;
      &--head {
        display: none;
      }
    }
    @media (min-width: $screen-md) {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: [name] 3.35fr [cost] 0.87fr [schedule] 0.99fr [order] 1fr;
      align-items: center;
      width: 100%;
      max-width: calc(100% - 32px);
      height: 64px;
      padding: 0 16px;
      &:not(:first-child)::after {
        content: '';
        height: 1px;
        width: calc(100% - 32px);
        margin: 0 16px;
        background-color: $color-border;
        display: inline-block;
        position: absolute;
        bottom: 100%;
      }
      &--head {
        display: grid;
        grid-template-columns: [name] 3.35fr [cost] 0.97fr [schedule] 0.99fr [order] 1fr;
        font-size: 1rem;
        line-height: 16px;
        letter-spacing: 0;
        font-weight: 500;
        @media (min-width: $screen-xl) {
          grid-template-columns: [name] 3.35fr [cost] 1.5fr [schedule] 1.5fr [order] 1fr;
        }
      }
    }
    @media (min-width: $screen-xl) {
      grid-template-columns: [name] 3.35fr [cost] 1.5fr [schedule] 1.3fr [order] 1.2fr;
    }
  }
  &__service-name {
    grid-area: name / span 2;
    &::before {
      content: 'Ремонтные услуги';
    }
    @media (min-width: $screen-md) {
      grid-area: name;
      margin-right: 24px;
    }
  }
  &__service-cost {
    grid-area: cost / 1;
    &::before {
      content: 'Цена';
    }
    @media (min-width: $screen-md) {
      grid-area: cost;
    }
  }
  &__service-schedule {
    grid-area: scheduleAndOrder / 1;
    text-wrap: nowrap;
    &::before {
      content: 'Срок';
    }
    @media (min-width: $screen-md) {
      grid-area: schedule;
    }
  }
  &__order-btn {
    grid-area: 3;
    font-size: 0.75rem;
    letter-spacing: -0.15px;
    display: flex;
    margin: 20px 0 0 28px;
    &::after {
      @media (min-width: $screen-xs) {
        width: 21px;
      }
    }
    @media (min-width: $screen-md) {
      grid-area: order;
      margin: 0 0 15px;
    }
    @media (min-width: $screen-xl) {
      margin: 15px 0px 15px 0;
    }
  }
  &__service-name,
  &__service-cost,
  &__service-schedule {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.2px;
    &::before {
      display: block;
      margin-bottom: 4px;
      text-wrap: nowrap;
      font-weight: 500;
      line-height: 16px;
      letter-spacing: 0;
      @media (min-width: $screen-md) {
        display: none;
      }
    }
  }
  &__service-cost,
  &__service-schedule {
    @media (min-width: $screen-xl) {
      margin: 23px 0;
      line-height: 18px;
      letter-spacing: 0.2px;
      &--head {
        margin: 16px 0;
        color: $text-color--muted;
      }
    }
  }
  &__comment {
    @media (min-width: $screen-xs) {
      padding: 0;
      margin-top: 19px;
    }
    @media (min-width: $screen-xl) {
      padding-left: 8px;
    }
  }
  &__note {
    padding: 0 16px;
    font-size: 0.875rem;
    line-height: 20px;
    letter-spacing: 0.2px;
    @media (min-width: $screen-md) {
      padding: 0 24px;
      max-width: 55%;
    }
    @media (min-width: $screen-xl) {
      max-width: 38%;
    }
  }
  &__get-offer {
    display: inline-block;
    padding: 0 16px;
    font-weight: 500;
    color: $text-color;
    @media (min-width: $screen-md) {
      padding: 0 24px;
    }
    &::after {
      content: url('../img/main/item-more-ico.svg');
      display: inline-block;
      transform: translateY(2px);
      margin-left: 8px;
    }
  }
}
.pricesSwiper-pagination {
  bottom: var(--swiper-pagination-bottom, 34px) !important;
  margin-top: 12px;
  display: flex;
  justify-content: center;
}
