/* services */
.body > .services {
  background-color: #f8f8f8;
}
.services {
  &__header {
    display: flex;
    align-items: center;
    padding: 16px 32px;
    background: linear-gradient(to right, #f8f8f8 0%, #ffffff 100%);
    height: 56px;
    @media (min-width: $screen-xs) {
      padding: 0 16px;
    }
    @media (min-width: $screen-sm) {
      height: 56px;
      padding: 0 24px;
    }
    @media (min-width: $screen-xl) {
      padding: 0;
    }
  }
  &__slider {
    @media (min-width: $screen-md) {
      margin: 24px;
    }
    @media (min-width: $screen-xl) {
      margin: 24px 0px;
    }
  }
  &__list {
    display: flex;
    max-width: 1200px;
    row-gap: 16px;
    column-gap: 32px;
    @media (min-width: $screen-xs) {
      flex-wrap: nowrap;
    }
    @media (min-width: $screen-md) {
      column-gap: 24px;
      flex-wrap: wrap;
    }
  }
  &__item {
    border: 1px solid #eaeaea;
    border-radius: 6px;
    background-color: #fff;
    height: 72px;
    @media (min-width: $screen-xs) {
      width: 240px;
      padding: 56px 16px;
      max-width: 210px;
    }
    @media (min-width: $screen-sm) {
      max-width: 255px;
    }
    @media (min-width: $screen-bm) {
      max-width: 190px;
      padding: 32px 16px 54px;
    }
    @media (min-width: $screen-xl) {
      max-width: 213px;
    }
    &--swiper {
      @media (min-width: $screen-sm) {
        height: 92px;
      }
    }
    &--hide {
      display: none;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: space-between;
    &::after {
      margin-left: 80px;
      align-self: flex-end;
      height: 20px;

      content: url('../img/main/item-more-ico.svg');
      display: block;
      border-radius: 60px;
      border: red 3px solid;
      padding: 8px 13px 8px 15px;
      @media (min-width: $screen-xs) {
        transform: translate(0, 73px);
      }
      @media (min-width: $screen-sm) {
        width: 9px;
      }
      @media (min-width: $screen-bm) {
        transform: translate(-16px, 72px);
      }
      @media (min-width: $screen-xl) {
        transform: translate(0px, 72px);
      }
    }
  }
  &__logo {
    display: block;
  }
  &__show-more {
    margin-top: 32px;

    color: #1b1c21;
    letter-spacing: -0.2px;
    @media (min-width: $screen-bm) {
      padding: 16px 22px;
      margin-top: 10px;
    }
  }
}

.show-more-btn::before {
  content: url(../img/main/read-more-ico.svg);
  transform: translateX(-16px);
  display: inline-block;
}

.show-more-btn--active::before {
  transform: translateX(-16px) rotate(180deg);
}

/* Swiper */

// .services__slider-mobile {
//   padding: 0 0 0 0 16px;
// }

// .swiper-wrapper {
//   flex-wrap: nowrap;
//   width: 100vw !important;
//   column-gap: 0;
//   row-gap: 0;
// }

// .swiper::before {
//   content: '';
//   display: block;
//   height: 100%;
//   position: absolute;
//   width: 60px;
//   right: 0;
//   background-image: linear-gradient(to left, #f8f8f8 0%, rgba(0, 0, 0, 0) 100%);
//   z-index: 100;
// }

// .swiper-slide:first-child {
//   margin-left: 16px;
// }

.servicesSwiper-pagination {
  bottom: var(--swiper-pagination-bottom, 34px) !important;
  margin-top: 14px;
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 6px) !important;
  width: 12px;
  height: 12px;
  background: #dddddd;
}

.swiper-pagination-bullet-active {
  background: #b5b6bc;
}
