$color-main: #ff3e79;
$color-accent: #41f6d7;
$color-accent--light: #b8ffec;
$color-background: #f8f8f8;
$color-border: #eaeaea;
$primary-color: blue;
$text-color: #1b1c21;
$text-color--muted: #7e7e82;
$text-color--input: #b5b6bc;

$screen-xs: 0px;
$screen-sm: 321px;
$screen-bm: 480px;
$screen-md: 767px;
$screen-lg: 1120px;
$screen-xl: 1426px;
